/*
project ledLight
Max DeVos
October 3, 2017
*/

*{
	font-family: "Aldrich";
	margin: 0;
	padding: 0;
}

.chatWindow {
	width: 300px;
	height: 600px;
	float: right;
	background-color: white;

}

#chatHeader{
	text-align: center;
	height: 80px;
	background-color: #5f98f4;
	color: white;
	padding: 20px 0 0 0;
}

#filler{
	height: 365px;
}

#chat{
	height: 375px;
	overflow: scroll;
}

.message{
	padding: 0 20px 0 20px;
}

#player1{
	background-color: #f2f1ed;
}

button{
	display: block;
	width: 300px;
	height: 75px;
	background-color: #5f98f4;
	border: none;
	font-size: 40px;
	color: white;
}

button:hover{
	opacity: 0.8;
}

textarea{
	display: block;
	width: 260px;
	height: 40px;
	font-size: 20px;
	padding: 10px 20px 0 20px;
	background-color: #c6c6c2;
	border: none;
}


