/**
 * Project codename ledLight
 * @author Max DeVos
 * @since October 3, 2017
 */

* {
	font-family: "Aldrich";
	margin: 0;
	padding: 0;
	/* outline: none; */
}

:root {
	--primary-fg-color: white;
	--primary-bg-color: rgb(48, 124, 247);

	--secondary-fg-color: white;
	--secondary-bg-color: rgb(154, 154, 154);
}

main {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
}

canvas {
	border: 1px solid green;
}

.main-focus-container {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.overlay-container {
	position: absolute;
	display: flex;
	background-color: rgba(0, 0, 0, 0.738);
	width: 100%;
	height: calc(100% - 2.5rem);
	color: white;
	justify-content: center;
	align-items: center;
}